<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Whey2ez LLC - Web Development & Digital Marketing.">
    <meta name="keywords" content="Whey2ez, Digital Marketing, Web Development, Django, Python, JavaScript, HTML5, HTML, CSS3, CSS, MySQL">
    <link rel='icon' href='/templates/bundle/assets/favIcon.ico' type='image/x-icon' />
</head>
<body>
    <%= require('html-loader!./partial/header.html') %>

    <main aria-label="Main Website Content">
        <h1>Privacy Policy:</h1>
        <p>With the importance of privacy, we have developed this policy for you to understand how we collect and use the information you provide to us.</p>
        <ul>
            <li>Whey2ez LLC will identify the purpose for which your information is being collected.</li>
            <li>The information collected will be used to accomplish the objectives stipulated by us so as to be able to provide the best service possible to the you, unless you have expressly given your consent or where as required by the law.</li>
            <li>Information will be collected with you being knowledgeable of this action or giving your consent prior.</li>
            <li>Only information relevant to the purpose of its use will be collected.</li>
            <li>The personal data provided should be accurate and complete to the best of your knowledge.</li>
            <li>We will aim for a clean and transparent business practice, maintaining in complete confidentiality and protecting any and all information or data provided by you.</li>
        </ul>

        <h2>The Website</h2>
        <ul>
            <li>The Whey2ez website will only collect information if a user completes and submits the Contact Form.</li>
            <li>The information to be collected by this form consists of, Name, Company Name, contact information, as well as other relevant information to better improve your experience.</li>
            <li>The information provided and obtained through our website will be utilized to improve the user experience of our website, to conduct various promotional events, and create a personalized user experience.</li>
        </ul>

        <h2>Cookies</h2>
        <p>Cookies, small pieces of data which are generated while a user is browsing the internet are stored on a user’s computer to recall relevant information about that particular user to a website, they have visited. This allows a more personalized experience to be created and various website features to be unlocked. As such the Whey2ez website will incorporate cookies to able to remember a user’s shopping cart options, favorites, and other relevant information to be able to improve the users overall experience. Disabling the cookies will cause some of the features and of our website to be disabled and subsequently affect the user experience.</p>

        <h2>Disclosure</h2>
        <p>Whey2ez LLC does not sell, trade, and/or provide any outside entity not associated with our company with any of your personal information. Your information may be provided to our partners, if and only if they also agree to keep any and all information confidential, with whom we engage in business to provide you your complete service and experience.
        We will at times on our website utilize present and advertise third-party services and products. We are not responsible or liable for any and all information which these parties may offer. There are a completely separate entity from us.
        If you have any questions please feel free to contact us.</p>
    </main>
    <%= require('html-loader!./partial/footer.html') %>
</body>
</html>